*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
}

@font-face {
  font-family: "iranSans";
  src: url("./assets/fonts/IRANYekanMedium.ttf");
}
body{
  font-family: "iranSans" !important;
}
.app{
  background-color: #f6f6f6;
}

.range{
  
  width: 50%;
  margin: auto;
  margin-top: 40px;
}

.filtered_section{
  border: none;
  background-color:#dbe3eb;
}

@media(min-width:768px){
  .filtered_section{
    border-left: 1px solid rgba(0, 0, 0, 0.1),
    
  }
}


